body
{
    background-color: tomato;
    font-family: 'Uchen', serif;
}

.test_result_and_image
{
    width: 400px;
    margin-top: 50px;
    padding-top: 20px;
    margin-right: 1000px;
    height: 590px;
    background-color: thistle;
    border-radius: 20px;
    box-shadow: 5px 5px 18px yellow;
    align-items: left;
}
.img_div_dont
{
    margin-top: -5px;   
}

img
{
    height: 350px;
    width: 250px;
    border-radius: 15px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.b
{
    height: 150px;
    width: 200;
}